.contact {
    background:#fff;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    gap: .5rem;
}
.contact-wrapper {
    border-bottom: solid 1px #e6ecf7;
    cursor: pointer;
    
}
.contact-wrapper:hover {
    background: #e6ecf7 ;
}
.contact-wrapper:hover .contact {
    background: #e6ecf7 ;

}
.contact .contact__name {
    font-size: 1.3rem;
    margin: 0;
}
.contact__image {
    width: 2rem;
}
.last-message {
    font-size: 1rem;
    padding-inline: 1rem;
}
.last-message.new-message {
font-weight: 800;
}