@import 'bootstrap/dist/css/bootstrap.css';
@import "bootstrap-icons/font/bootstrap-icons.css";

/* typography */

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-raduis: 30px;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 1.2rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin-top: 0;
  /*to prevent margin collapsing between paragraph and heading */
}

@media screen and (min-width:1024px) {
  body {
    font-size: 1rem;

  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

}

/* buttons */
.btn {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  padding: .5rem .5rem;
  /* border-radius: 20px; */
  border: 0;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  margin: 1rem 0;
}

.btn .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}

.btn--primary {
  /* background: linear-gradient(45deg, #FF6968, #A334FA, #0695FF, #FFFFFF); */
  background: #5b86c7;
  color: #fff;


}

.btn--primary:hover {

  background: #5b86c7;

  opacity: 80%;
  color: white;
}

.btn-add-user {
  position: fixed;
  bottom: 50px;
  right: 30px;

}

.btn--secondary {
  background: var(--color-secondary);
  color: white;
}

.btn--secondary:hover {
  background: #00c8eb;
}

.btn--accent {
  background: var(--color-accent);
  color: white;
}

.btn--accent:hover {
  background: #ec3000;

}

.btn--outline {
  background: #fff;
  color: var(--color-heading);
  border: 2px solid var(--color-heading);

}

.btn--outline:hover {
  background: var(--color-heading);
  color: #fff;

}

.btn--block {
  display: inline-block;
  width: 100%;
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

@media screen and (min-width:1024px) {
  .btn {
    font-size: 1rem;
  }

}

/* inputs */
.input {
  background-color: #e6ecf7;
}

input {
  border-radius: var(--border-raduis);
  /* border: 1px solid var(--color-border); */
  color: var(--color-heading);
  font-size: 1rem;
  outline: 0;

}


::placeholder {
  color: #cdcbd7;
}







@media screen and (min-width:1024px) {
  .input {
    font-size: 1rem;
  }

}




.form-container {
  border: solid 1px #eee;
  padding: 1.3rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 100%;
  max-width: 500px;


}

@media screen and (min-width:1024px) {
  .form-container {

    /* width: 500px; */
  }


}

.no-wrap {
  white-space: nowrap;
}

/* overRideBootstrap */
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
  outline: 0;
  border: solid 1px rgb(144, 198, 216);
  background: #cfe2ff;
}


/* navbar */
.navbar {
  background: #5b86c7;
  color: #fff;
}
.navbar .user-name {
  color: #fff;
}

.account-image {
  border-radius: 50%;
}

.navbar-nav>li {}